<div class="DropDown">
  <div class="dropDown_header">
    <div (click)="toggleDropDown()" id="lineName" style="background-color: {{ color }};">
      {{ lineName }}
    </div>
    <div (click)="toggleDropDown()" id="name" style="width: {{ customWidth }}%;">
      {{ name }}
    </div>
    <ion-icon *ngIf="isAlert" (click)="toggleDropDown()" id="alert" name="warning" style="color:yellow;"></ion-icon>
    <ion-icon *ngIf="isOpen" (click)="toggleDropDown()" id="chevron" name="chevron-up-circle-outline"></ion-icon>
    <ion-icon *ngIf="!isOpen" (click)="toggleDropDown()" id="chevron"  name="chevron-down-circle-outline"></ion-icon>
    <ion-icon *ngIf="!isFavorite" (click)="toggleFavorite()"  id="favorite" name="heart-outline"></ion-icon>
    <ion-icon *ngIf="isFavorite" (click)="toggleFavorite()" id="favorite" name="heart" style="color:rgb(255, 50, 50);"></ion-icon>

  </div>
  <div *ngIf="isOpen"  class="dropDown_body">
    <div class="dropDown_body_content">
      <div *ngFor="let lineSchedule of linesSchedule" >
        <div class="lineSchedule">
          <div class="lineSchedule_direction">
            {{ lineSchedule.direction }} :
          </div>
          <div class="lineSchedule_time">
            {{ lineSchedule.times[0] }} min
          </div>
          <div class="lineSchedule_time">
            {{ lineSchedule.times[1] }} min
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
