<div class="DropDown">
  <div class="dropDown_header" (click)="toggleDropDown()">
    <div id="lineName" style="background-color: {{ color }};">
      {{ lineName }}
    </div>
    <div id="name">
      {{ name }}
    </div>
    <ion-icon *ngIf="isAlert"  id="alert" name="warning" style="color:yellow;"></ion-icon>
    <ion-icon *ngIf="isOpen" id="chevron" name="chevron-up-circle-outline"></ion-icon>
    <ion-icon *ngIf="!isOpen" id="chevron"  name="chevron-down-circle-outline"></ion-icon>
    <ion-icon *ngIf="!isFavorite" (click)="toggleFavorite()"  id="favorite" name="heart-outline"></ion-icon>
    <ion-icon *ngIf="isFavorite" (click)="toggleFavorite()" id="favorite" name="heart" style="color:red;"></ion-icon>

  </div>
  <div *ngIf="isOpen"  class="dropDown_body">
    <div class="dropDown_body_content">
      <div *ngFor="let lineSchedule of linesSchedule" >
        <div class="lineSchedule">
          <div class="lineSchedule_direction">
            {{ lineSchedule.direction }} :
          </div>
          <div class="lineSchedule_time">
            {{ lineSchedule.times[0] }}
          </div>
          <div class="lineSchedule_time">
            {{ lineSchedule.times[1] }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
