<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title><ion-icon name="time"></ion-icon>Horaires</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Horaires</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <app-drop-down-schedule
    [name]="'Gare Grenoble Université Gière'"
    [lineName]="'C'"
    [isAlert]="true"
  >
  </app-drop-down-schedule>

  <app-drop-down-schedule
    [name]="'Gare Grenoble'"
    [lineName]="'B'"
    [stationId]="1"
    [type]="tramStation"
  >
  </app-drop-down-schedule> -->
  <!-- <div *ngFor="let line of tramStationsClosest">
    <app-global-drop-down
      lineName="Arrets proche"
      [tramStations]="line.TramStation"
    ></app-global-drop-down>
  </div> -->

  <div *ngFor="let line of tramStations">
    <app-global-drop-down
      [lineName]="line.Line.replace('SEM:','')"
      [tramStations]="line.TramStation"
    ></app-global-drop-down>
  </div>
</ion-content>
